<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }} | {{ site.name[page.lang] }}</title>
    <meta name="author" content="Global Outlook::Digital Humanities">
    <meta name="description" content="{{ site.description[page.lang] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="globaloutlookdh_">
    <meta name="twitter:creator" content="globaloutlookdh">
    <meta name="twitter:title" content="Around DH 2020">
    <meta name="twitter:description" content="DH projects from the Global South, minoritized groups, and in langs other than English">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">

  </head>
  <body>

<nav>
	<a href="/en/about">About</a>
  <!--{% for p in site.pages %}
    {% if p.lang == page.lang %} 
      <a href="{{ p.url | prepend: site.baseurl }}">
        {{ p.title }}
      </a>
    {% endif %}
  {% endfor %}-->
</nav>
    <nav class="lang-switcher">
      {% if page.name contains "index" %}
        <!--<a class="eo" href="{{ site.baseurl }}/">EO</a>-->
        <a class="en" href="{{ site.baseurl | append: "/en" }}">EN</a>
        <!--<a class="de" href="{{ site.baseurl | append: "/de" }}">DE</a>
        <a class="it" href="{{ site.baseurl | append: "/it" }}">IT</a>
        <a class="zh" href="{{ site.baseurl | append: "/zh" }}">ZH</a>-->
      {% else %}
        <!--<a class="eo" href="{{ site.baseurl | append: page.handle }}">EO</a>-->
        <a class="en" href="{{ site.baseurl | append: "/en" | append: page.handle }}">EN</a>
        <!--<a class="de" href="{{ site.baseurl | append: "/de" | append: page.handle }}">DE</a>
        <a class="it" href="{{ site.baseurl | append: "/it" | append: page.handle }}">IT</a>
        <a class="zh" href="{{ site.baseurl | append: "/zh" | append: page.handle }}">ZH</a>-->
      {% endif %}
    </nav>

    <header>
      <a href="/"><h1 class="title">{{ site.name[page.lang] }}</h1></a>
      <h3 class="description">{{ site.description[page.lang] }}</h3>
    </header>

    <main>	  
		{{ content }}
	</main>

    <footer>
    <small>{{ site.footer[page.lang] | markdownify }}</small>
    </footer>

  </body>
</html>
